@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
#go-top{
    i{
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
        background: #f75023;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        line-height: 40px;
        color: #fff;
        z-index: 999;
    }
}
.manu-bar{
    background: gray;
    animation: navbar 2s;
    @keyframes navbar{
        0%{
            top: -50%;
        }
        100%{
            top: 0%;
        }
    }
}
.main-manu{
    position: fixed;
    width: 100%;
    z-index: 99;
    ul{
        li{
            a{
                &.active{
                    color: #f75023 !important;
                    &::after{
                        opacity: 1; 
                        width: 70%;
                    }
                }
                color: white !important;
                font-size: 18px;
                font-weight: 600;
                text-transform: capitalize;
                padding: 0 15px !important;
                position: relative;
                &:hover{
                    color: #f75023 !important;
                }
                &::after{
                    position: absolute;
                    content: '';
                    width: 0%;
                    height: 2px;
                    bottom: -12px;
                    left: 13px;
                    background: #f75023;
                    opacity: 0;
                    transition: .5s;
                    -webkit-transition: .5s;
                    -moz-transition: .5s;
                    -ms-transition: .5s;
                    -o-transition: .5s;
                }
                &:hover{
                    &::after{
                        opacity: 1;
                        width: 70%;
                    }
                }
            }
        }
    }

}
#banner{
    background:linear-gradient(118deg, #3e4454a5 55%, transparent 45%), url(../images/fazlul1.jpg) no-repeat center / cover;
    width: 100%;
    height: 100vh;
    .bann-text{
        padding-top: 300px;
        color: #fff;
        h3{
            color: #f75023;
            font-size: 45px;
            font-weight: 500;
            line-height: 1.3; 
        }
        h2{
            font-size: 80px;
            font-weight: 500;
            line-height: 1.3; 
        }
        h4{
            font-size: 30px;
            text-transform: capitalize;
            font-weight: 500;
            margin-bottom: 35px;
            .text{
                color: #f75023;
                display: inline-block;
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 0%;
                    background: #fff;
                    top: 50%;
                    right: -5px;
                    transform: translateY(-50%);
                    animation: blink .4s infinite ;
                    -webkit-animation: blink .4s infinite ;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%); 
                }
            }
            @keyframes blink {
                to{
                    height: 0%;
                }
                from{
                    height: 100%;
                }
            }
        }
        p{
            font-size: 20px;
            line-height: 1.3;
            font-weight: 300;
            margin-bottom: 35px;
        }
        .bann-btn{
            font-family: 'Jost', sans-serif;
            padding: 15px 50px;
            background-color: #f75023;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            &:hover{
                border:2px solid #f75023;
                color: #fff;
                background: none;
            }
        }
    }
}
#about{
    background:#ecebe9;
    padding: 70px 0;
    .about-text{
        padding-left: 50px;
        width: 600px;
        margin-top: 50px;
    }
}
.about-head,
.service-head,
.resune-head,
.port-head,
.skill-head,
.test-head,
.contact-head{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
    h2{
        font-size: 40px;
        font-weight: 700;
        color: #2b2d33; 
        span{
            color: #f75023;
        }
    }
}
#service{
    padding: 50px 0;
    .service-item{
        /*border: 2px solid black;*/
        text-align: center;
        padding: 25px 20px;
        box-shadow: 5px 5px 10px gray;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        img{
            width: 50px;
        }
        .service-text h4{
            font-weight: 500;
            padding: 15px 0;
           
        }
        .service-text p{
            font-size: 15px;
            font-weight: 400;
        }
    }
}
#skill{
    background: #333333;
    padding: 60px 0;
    .skill-head h2{
        color: #fff;
    }
    .skill-text{
        color: #fff;
        width: 600px;
        h2{
            font-size: 40px;
            font-weight: 700;
            padding-bottom: 20px;
        }
        p{
            line-height: 25px;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .progressbar{
        .progress_item {
            padding-bottom: 20px;
            .progress_title {
                color: #fff;
                padding: 10px 0;
            }
            .progress_bar {
                position: relative;
                width: 100%;
                height: 8px;
                border-radius: 5px;
                background: rgb(222, 222, 222);
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                .bar {
                    border-radius: inherit;
                    background: #f75023;
                    position: absolute;
                    transition: width 1.5s cubic-bezier(0.1, 0.42, 0.85, 1);
                    width: 0;
                    height: 100%;
                    left: 0;
                    &::after{
                        content: attr(data-text);
                        position: absolute;
                        right: 0;
                        top: -3rem;
                        width: 4rem;
                        height: 2rem;
                        background: #f75023;
                        font-size: 18px;
                        line-height: 2rem;
                        color: #fff;
                        text-align: center;
                        border-radius: 0.1rem;
                        animation: text 0.6s ease-in-out;
                        font-weight: bold;  
                    }
                    &::before{
                        content: ' ';
                        position: absolute;
                        right: 1rem;
                        top: -1.2rem;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-top: 10px solid #f75023;
                        animation: text 0.6s ease-in-out;
                    }
                    @keyframes text {
                        0% {
                          opacity: 0;
                        }
                        50% {
                          opacity: 0;
                        }
                        100% {
                          opacity: 1;
                        }
                      }
                }
            }
          }
    }
}
#resume{
    padding-top: 60px;
    background: #333333;
    .resune-head h2{
        color: #fff;
    }
    .resume-item{
        padding: 20px 30px;
        .resume-inner{
            h3{
                font-size: 30px;
                margin-left: 10%;
                color: #fff;
                margin-bottom: 30px;
                font-weight: 500;
            }
            span{
                color: #f75023;
                padding-right: 20px;
            }
        }
        .resume-text{
            position: relative;
            .bulletpoint{
                position: absolute;
                width: 15px;
                height: 15px;
                top: 0;
                left: 0;
                border: 2px solid #f75023;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            .resume-inner-text {
                color: #f1f1f1c5;
                margin-left: 40px;
                position: relative;
                padding-bottom: 50px;
                span{
                    padding-right: 10px;
                }
                h4{
                    padding: 15px 0;
                }
                h5{
                    padding-bottom: 15px;
                }
                p{
                    padding-bottom: 30px;  
                }
            }
           
            &::after{
                position: absolute;
                content: '';
                top: 15px;
                left: 7px;
                height: 94%;
                width: 2px;
                background: #f75023;
            }
            &:last-child{
                &::after{
                    height: 70%;   
                }
            }

         }
    }
}
#portfolio{
    padding: 50px 0;
    .prot-area{
        .prot-item{
            position: relative;
            margin-top: 20px;
            img{
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            .prot-overly{
                position: absolute;
                width: 100%;
                height: 0%;
                top: 0;
                left: 0;
                background: #f751237e;
                opacity: 0;
                transition: .5s;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -ms-transition: .5s;
                -o-transition: .5s;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                i{
                    position: absolute;
                    font-size: 25px;
                    width: 50px;
                    height: 50px;
                    color: #000;
                    background: #f1f1f1;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    text-align: center;
                    line-height: 50px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                }
             }
             &:hover{
                .prot-overly{
                    opacity: 1;
                    height: 100%;
                 }
             }
        }
    }
    .modal-area{
        margin-top: 40px;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 100%;
        background: #f1f1f14d;
        display: none;
        align-items: center;
        justify-content: center;
        .modal-item{
           
            width: 1000px;
            padding: 15px;
            background: #ffffff;
            margin: 0 auto;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            display: none;
            position: relative;
            &.active{
                display: inline-block;
            }
            img{
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
            }
            i{
                position: absolute;
                height: 40px;
                width: 40px;
                text-align: center;
                line-height: 40px;
                top: 3%;
                right: 2%;
                font-size: 20px;
                background: #f75023;
                color: #000;
                cursor: pointer;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            .modal-text{
                padding: 30px 20px;
                h3{
                    font-size: 30px;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
#contact{
    padding: 60px 0;
    background: #333333;
    .contact-head h2{
        color: #fff;
    }
    .cont-text{
        color: #f1f1f1;
        h4{
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 600;
            font-family: 'Jost', sans-serif;
            padding-bottom: 16px;
        }
        p{
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
        }
    }
    .cont-address{
        margin-top: 40px;
        .cont-box{
            color: #f1f1f1;
            padding-left: 50px;
            position: relative;
            padding-bottom: 50px;
            i{
                position: absolute;
                top: 0;
                left: 0;
               font-size: 35px;
               color: #f75023;
            }
            h5{
                font-size: 25px;
                font-family: 'Jost', sans-serif;
                font-weight: 500;
                text-transform: capitalize;
                padding-bottom: 15px;
            }
        }
    }
    .form{
        margin-top: 60px;
        .form-control{
            background: #1a1a1a;
            color: #f1f1f1;
            font-size: 20px;
        }
        .text-area{
            height: 250px;
        }
        .button{
           width: 200px;
           padding: 10px 0;
           margin-left: 15px;
           background: #f75023;
           color: #f1f1f1;
           font-size: 18px;
           font-weight: 600;
           font-family: 'Jost', sans-serif;
           border-radius: 25px;
           &:hover{
                background: #f1f1f1;
                color: black;
            }
        }
       
    }
}